<!-- views/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="main-head">
        <nav>
          <h1 id="logo">MonSiteWeb</h1>
            <ul>
                <li><a href="login.html">Connexion</a></li>
                <li><a href="register.html">Inscription</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main-background">
        <div class="main-content">
            <h1>Partagez vos Compétences en Informatique</h1>
            <p>Rejoignez notre communauté et découvrez les talents des autres membres.</p>
            <button onclick="location.href='login.html'">Connexion</button>
            <button onclick="location.href='register.html'">Inscription</button>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 - Site de Partage de Compétences</p>
    </footer>
</body>
</html>
