<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="publications.css">
  <title>publications</title>
</head>
<body>
  <nav>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="profile.html">Mon Profil</a></li>
        <li><a href="login.html">Déconnexion</a></li>
    </ul>
</nav>
</header>

<main>
<section>
    <h2>Toutes les publications</h2>
    <article>
        <h3>Titre de la publication</h3>
        <p>Contenu de la publication...</p>
        <p>Auteur : [Nom de l'auteur]</p>
        <p>Date : [Date]</p>
    </article>
    <!-- Répéter l'élément <article> pour chaque publication -->
</section>
</main>

<footer>
   <p>&copy; 2024 - Site de Partage de Compétences</p>
  </footer>
</body>
</html>